~\$*
*.log
*.raw


*.raw
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.make
*.d
*.fls
*.temp
*-converted-to.pdf
*.mtc0
*.ptc
__pycache__
